h2 {
    background-color: #EDE8D9;
    color: #000000;
    
  }
.title {
    font-size: 45px;
  }

  
  body {
    font: 15px Arial;
    background-color: #e5dabe;
  }
  

a {text-decoration: none;}

.navbar {
  border-top: 5px solid #e5dabe;
}

<style>
   .navbar-default .navbar-nav>li>a:focus { color: #DD0000; }
   .navbar-default .navbar-brand:focus { color: #DD0000; }
</style