h2 {
    background-color: #EDE8D9;
    color: #000000;
    
  }
  .title {
    font-size: 45px;
  }
  body { 
    background-color: #E5DABE;font-size: 15px
   
  }
  

<STYLE TYPE="text/css">
<!--
a {text-decoration: none;}
-->
</STYLE>

.navbar-default {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
.navbar-default .navbar-nav > li > a {
    color: #777777;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #E7E7E7;
    color: #555555;
}