h2 {
    background-color: #EDE8D9;
    color: #000000;
    
  }
  .title {
    font-size: 45px;
  }

  
  body {
    font: 15px Arial;
    background-color: #EDE8D9;
  }
  

<STYLE TYPE="text/css">
<!--
a {text-decoration: none;}
-->
</STYLE>


 <style>
        .navbar
        {
            border:5px solid #000;
        }
      </style>
	  
	  